OPENROUTER_API_KEY="set_me"
PERPLEXITY_API_KEY="set_me
UPSTASH_REDIS_REST_URL="set_me"
UPSTASH_REDIS_REST_TOKEN="set_me"
IP_ALLOWLIST="set_me"

# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="set_me"
CLERK_SECRET_KEY="set_me"
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/


# DB 
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT="set_me"
NEXT_PUBLIC_CONVEX_URL="set_me"
CLERK_FRONTEND_API_URL="set_me_please"